# ETL Data For Dashbord

In [1]:
#Dependencies
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt 
import requests
from config import *
from pprint import pprint
from sqlalchemy import create_engine

## Kaggle Airpollution Data for U.S.A from 2000 - 2016

In [ ]:
# Read CSV 
data = pd.read_csv("Resources/pollution_us_2000_2016.csv")
# Pollution in the U.S. since 2000
data = data.drop(columns=['Unnamed: 0'])
data = data.drop_duplicates()
data.head()

### Clean Data

In [ ]:
data2 = data[data['State'] != 'Country Of Mexico']

In [ ]:
# Removed columns from the dataframe
pollution_data = data2.drop(columns=['State Code', 'County Code', 'Site Num', 'Address','County', 'City', 'NO2 Units','NO2 1st Max Value', 'NO2 1st Max Hour', 'O3 Units','O3 1st Max Value', 'O3 1st Max Hour', 'SO2 Units', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'CO Units','CO 1st Max Value', 'CO 1st Max Hour'], axis = 1)
# Conver Date Local to Years
pollution_data['Date Local'] = pd.to_datetime(pollution_data['Date Local'], format='%Y/%m/%d').dt.year

#weather_data.head()
pollution_data = pollution_data.rename(columns = {"Date Local": "Year"})
pollution_data.head()

### Data Info

In [ ]:
# States Mentioned in the data 
states = list(data2['State'].unique())
print(len(states))
states

In [ ]:
for state in states:
    #AQI_mean[AQI_mean['State'] == state]
    print(state)
    print(weather_data[pollution_data['State'] == state]['Year'].unique())

### AQI Mean

In [ ]:
# Calculate AQI Mean for the State Across the years 
AQI_df = pollution_data[['State','Year','NO2 AQI','O3 AQI','SO2 AQI','CO AQI']]
#make all columns lower case and remove AQI
columnsX = list(AQI_df.columns)
columnsX = [x.lower() for x in columnsX]
columnsX = [x.replace(' aqi', '') for x in columnsX]
AQI_df.columns = columnsX

AQI_mean = AQI_df.groupby(['state', 'year']).mean()
AQI_mean = AQI_mean.reset_index()

AQI_mean['id'] = AQI_mean.index

AQI_mean.head()

### Push Data to PgAdmin

In [ ]:
engine = create_engine(f"postgresql://postgres:{AWS_password}@database-1.cft8wszdkeh0.us-east-2.rds.amazonaws.com:5432/postgres")

AQI_mean.to_sql(name="pollution",con=engine, if_exists="replace", index=False) #Pollution Dataset

In [ ]:
with engine.connect() as con:
    con.execute('ALTER TABLE "pollution" ADD PRIMARY KEY (id);')

## CO2 Data

In [ ]:
# Import Co2 database
CO2_data = pd.read_csv("Resources/CO2 DB_1.csv");
CO2_data = CO2_data.set_index('year')
CO2_data.head()

In [ ]:
#Transpose Data
CO2_data_tranposed = CO2_data.T
CO2_data_tranposed.head()

In [ ]:
#Put each row into a tupple and then a list. Then add to a larger list
CO2_data_list = []
for i in CO2_data_tranposed.itertuples():
    state_data = list(i)
    #print(i) 
    #print(test)
    CO2_data_list.append(state_data)

In [ ]:
# convert each states data into a dictionary that can go into the dataframe
df_array = []
#year = 1990
for state in CO2_data_list:
    year = 1990
    for i, x in enumerate(state):
        if i == 0:
            curr_state = x
        else:
            dict = {}
            dict['State'] = curr_state
    #         year = 1990
            dict['Year'] = year
            dict['CO2 AQI'] = x
            year += 1
            df_array.append(dict)

In [ ]:
#Create Dataframe
CO2_df = pd.DataFrame(df_array)
CO2_df = CO2_df.replace('District of Columbia', 'District Of Columbia')

#CO2_df = CO2_df.reset_index()

columnsX = list(CO2_df.columns)
columnsX = [x.lower() for x in columnsX]
columnsX = [x.replace(' aqi', '') for x in columnsX]
CO2_df.columns = columnsX

CO2_df['id'] = CO2_df.index

CO2_df

### Push Data to PgAdmin

In [ ]:
engine = create_engine(f"postgresql://postgres:{AWS_password}@database-1.cft8wszdkeh0.us-east-2.rds.amazonaws.com:5432/postgres")

CO2_df.to_sql(name="co2_aqi",con=engine, if_exists="replace", index=False) #CO2 AQI Dataset

In [ ]:
with engine.connect() as con:
    con.execute('ALTER TABLE "co2_aqi" ADD PRIMARY KEY (id);')

## Merge Kaggle and CO2 Dataframes

In [ ]:
frames = [CO2_df, AQI_mean]

#result = pd.concat(frames, axis=0, join='outer', ignore_index=True, keys=None, sort=True, levels=None, names=None, verify_integrity=False, copy=True)

#result = CO2_df.join(AQI_mean, on=['State', 'Year'])

#result = pd.merge(CO2_df, AQI_mean, left_on=['State', 'Year'] , right_index=False, how='CO2_df', sort=False);

AQI_df = pd.merge(CO2_df, AQI_mean,  how='left', left_on=['State','Year'], right_on = ['State','Year'])

AQI_df 
#result[result['State'] == "Alabama"]

### Push Data to PgAdmin

In [ ]:
#engine = create_engine(f"postgresql://postgres:{AWS_password}@database-1.cft8wszdkeh0.us-east-2.rds.amazonaws.com:5432/postgres")

#AQI_df.to_sql(name="All_AQI",con=engine, if_exists="replace", index=False) #Full AQI Dataset

## Get Average Temperature Data

### Top 10 states with highest average CO AQI

In [ ]:
df_grouped_state = AQI_df.groupby("State").mean()
df_grouped_sorted_CO = df_grouped_state.sort_values(by=['CO AQI'], ascending = False)
df_grouped_sorted_CO.head(10)

In [ ]:
CO_state_list = df_grouped_sorted_CO.head(10).index.tolist()
CO_state_list

### Top 10 states with highest average NO2 AQI

In [ ]:
df_grouped_state = AQI_df.groupby("State").mean()
df_grouped_sorted_NO2 = df_grouped_state.sort_values(by=['NO2 AQI'], ascending = False)
df_grouped_sorted_NO2.head(10)

In [ ]:
NO2_state_list = df_grouped_sorted_NO2.head(10).index.tolist()
NO2_state_list

### Top 10 states with highest average O3 AQI

In [ ]:
df_grouped_state = AQI_df.groupby("State").mean()
df_grouped_sorted_O3 = df_grouped_state.sort_values(by=['O3 AQI'], ascending = False)
df_grouped_sorted_O3.head(10)

In [ ]:
O3_state_list = df_grouped_sorted_O3.head(10).index.tolist()
O3_state_list

### Top 10 states with highest average SO2 AQI

In [ ]:
df_grouped_state = AQI_df.groupby("State").mean()
df_grouped_sorted_SO2 = df_grouped_state.sort_values(by=['SO2 AQI'], ascending = False)
df_grouped_sorted_SO2.head(10)

In [ ]:
SO2_state_list = df_grouped_sorted_SO2.head(10).index.tolist() 
SO2_state_list

In [ ]:
#get list of states for top ten of each AQI. Remove duplicates so data is pulled once
Top_10_AQI_list = CO_state_list + NO2_state_list + O3_state_list + SO2_state_list
Top_10_AQI_list = set(Top_10_AQI_list)
Top_10_AQI_list = list(Top_10_AQI_list)
print(len(Top_10_AQI_list))
Top_10_AQI_list

### Pull data from API

#### States location ID Lookup reference

In [ ]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/locations?locationcategoryid=ST&limit=52"

headers = {
    "token": API_TOKEN
}
response = requests.get(url, headers=headers)
response.json()
#pprint(response.json())

states_library = pd.DataFrame(response.json()["results"])
states_library = states_library.replace('District of Columbia', 'District Of Columbia')
states_library = states_library[['name', 'id']]
states_library.columns = ['State', 'Id']
states_library.head(10)

#### Pull weather Data from API using selecrted states

In [ ]:
startdate = "2007-01-01"
enddate = "2016-12-31"

#url = f"https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GSOY&startdate={startdate}&enddate={enddate}&datatypeid=TAVG&limit=1000&locationid={location}&offset={offset}"

headers = {
    "token": API_TOKEN
}

weather_data = []

# for state in Top_10_AQI_list:
for state in all_states:   
    
    location_index = states_library[states_library['State'] == state].index.tolist()[0]
    location = states_library['Id'][location_index]
    
    print(state)
    print(location)
    
    url = f"https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GSOY&startdate={startdate}&enddate={enddate}&datatypeid=TAVG&limit=1000&locationid={location}"
    
    response = requests.get(url, headers=headers)

    #print(url)
    print(response)
    #response.json()
    print(response.json()["metadata"])
    results = response.json()["results"]
    results_count = int(response.json()["metadata"]["resultset"]["count"])

    for entry in results:
        entry['State'] = state
    
    #print(results)

    weather_data.append(results)
    
    
    if results_count > 1000:
        adjustment = divmod(results_count, 1000)
        print(adjustment)
        if adjustment[1] > 0:
            for i in range(adjustment[0]):
#                 print(i)
                offset = (1000*(i+1))+1
                #print(offset)

                url = url = f"https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GSOY&startdate={startdate}&enddate={enddate}&datatypeid=TAVG&limit=1000&locationid={location}&offset={offset}"
                response = requests.get(url, headers=headers)

                #print(url)
                print(response)
                #response.json()
                #print(response.json()["metadata"]["resultset"]["count"])
                results = response.json()["results"]
                results_count = int(response.json()["metadata"]["resultset"]["count"])

                for entry in results:
                    entry['State'] = state
                    
                weather_data.append(results)
                
        else:
            for i in range(1, adjustment[0]):
#                 print(i)
                offset = (1000*(i))+1
                #print(offset)
        
                url = url = f"https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GSOY&startdate={startdate}&enddate={enddate}&datatypeid=TAVG&limit=1000&locationid={location}&offset={offset}"
                response = requests.get(url, headers=headers)

                #print(url)
                print(response)
                #response.json()
                #print(response.json()["metadata"]["resultset"]["count"])
                results = response.json()["results"]
                results_count = int(response.json()["metadata"]["resultset"]["count"])

                for entry in results:
                    entry['State'] = state
                    
                weather_data.append(results)
        
        
    print("---------")

In [ ]:
#weather_data
weather_data2 = []
for state in weather_data:
    for entry in state:
        weather_data2.append(entry)
#weather_data2

In [ ]:
weather_df = pd.DataFrame(weather_data2)
#convert date to year
weather_df['date'] = pd.to_datetime(weather_df['date'], format='%Y-%m-%dT%H:%M:%S').dt.year
weather_df = weather_df.rename(columns={'date': 'Year', 'station': 'Station', 'value': 'Average_Temp'})
weather_df = weather_df[['Year', 'Station', 'Average_Temp', 'State']]

weather_df

In [ ]:
weather_df_grouped = weather_df.groupby(['State', 'Year']).mean()
weather_df_grouped = weather_df_grouped.reset_index()

columnsX = list(weather_df_grouped.columns)
columnsX = [x.lower() for x in columnsX]

weather_df_grouped.columns = columnsX

weather_df_grouped['id'] = weather_df_grouped.index

weather_df_grouped

### Push Data to PgAdmin

In [ ]:
engine = create_engine(f"postgresql://postgres:{AWS_password}@database-1.cft8wszdkeh0.us-east-2.rds.amazonaws.com:5432/postgres")

weather_df_grouped.to_sql(name="weather",con=engine, if_exists="replace", index=False) #Weather Dataset

In [ ]:
with engine.connect() as con:
    con.execute('ALTER TABLE "weather" ADD PRIMARY KEY (id);')

## US States coordinates

In [2]:
# Read CSV 
states_coordinates = pd.read_csv("Resources/datasets_772_1440_statelatlong.csv")

# Pollution in the U.S. since 2000
states_coordinates = states_coordinates.replace('District of Columbia', 'District Of Columbia')

columnsX = list(states_coordinates.columns)
columnsX = [x.lower() for x in columnsX]

states_coordinates.columns = columnsX
states_coordinates = states_coordinates.rename(columns={"latitude": "lat", "longitude": "lng"})

states_coordinates['id'] = states_coordinates.index

states_coordinates.head()

  state        lat         lng        city  id
0    AL  32.601011  -86.680736     Alabama   0
1    AK  61.302501 -158.775020      Alaska   1
2    AZ  34.168219 -111.930907     Arizona   2
3    AR  34.751928  -92.131378    Arkansas   3
4    CA  37.271875 -119.270415  California   4

In [3]:
engine = create_engine(f"postgresql://postgres:{AWS_password}@database-1.cft8wszdkeh0.us-east-2.rds.amazonaws.com:5432/postgres")

states_coordinates.to_sql(name="states_cord",con=engine, if_exists="replace", index=False) #cordinates of states Dataset

In [4]:
with engine.connect() as con:
    con.execute('ALTER TABLE "states_cord" ADD PRIMARY KEY (id);')